<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.infinitus.bms_oa.bms_op.mapper.PaymentApplicationVOMapper">
    <!--定义一个名为BaseResultMap的返回类型-->
    <resultMap id="BaseResultMap" type="com.infinitus.bms_oa.bms_op.empty.OP_ScondBody_PaymentApplication">
        <result column="app_org_code" property="orgCode" jdbcType="VARCHAR"></result>
        <result column="app_user_real_name" property="userRealName" jdbcType="VARCHAR"></result>
        <result column="app_user_name" property="username" jdbcType="VARCHAR"></result>
        <result column="APP_DATE" property="applicantDate" jdbcType="VARCHAR"></result>
        <result column="COMMENT" property="commentNote" jdbcType="VARCHAR"></result>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"></result>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"></result>
        <result column="INVOICE_NO" property="invoiceNO" jdbcType="VARCHAR"></result>
        <result column="IS_CLOUD_PAY" property="isCloudPay" jdbcType="VARCHAR"></result>
        <result column="NO_BILL_POST" property="noBillPost" jdbcType="VARCHAR"></result>
        <result column="PAY_METH_CODE" property="payMethodCode" jdbcType="VARCHAR"></result>
        <result column="PAY_METH_NAME" property="payMethodName" jdbcType="VARCHAR"></result>
        <result column="PAYMENTDATELIMIT" property="paymentDateLimit" jdbcType="VARCHAR"></result>
        <result column="SUPPLIER_ID" property="supplierId" jdbcType="VARCHAR"></result>
        <result column="SUPPLIER_NAME" property="supplierName" jdbcType="VARCHAR"></result>
        <result column="TITLE" property="title" jdbcType="VARCHAR"></result>
        <result column="bmsOAId" property="bmsOAId" jdbcType="VARCHAR"></result>
    </resultMap>

    <select id="getAllPaymentApplicationVO" resultMap="BaseResultMap">
        SELECT p.APP_ORG_CODE,p.APP_USER_REAL_NAME,p.APP_USER_NAME,p.APP_DATE,p.COMMENT,p.COMMENT,COMPANY_CODE,COMPANY_NAME,INVOICE_NO,IS_CLOUD_PAY,NO_BILL_POST,
            PAY_METH_CODE,PAY_METH_NAME,PAYMENTDATELIMIT,SUPPLIER_ID,SUPPLIER_NAME,TITLE
           FROM BMS_OP_ORDER_HEADER p
           WHERE INVOICE_NO NOT IN  (SELECT C.INVOICE_NO FROM BMS_PO_API_RETURN C WHERE C.INVOICE_NO IS NOT NULL)
           AND (OP_FLAG IS NULL OR OP_FLAG = '' OR OP_FLAG='0' OR OP_FLAG='4')

    </select>

    <select id="getOAflowID" parameterType="java.lang.String"  resultType="String">
        SELECT GROUP_CONCAT(F.OA_FLOWID  SEPARATOR ';')  CONCAT FROM (
         SELECT DISTINCT H.* FROM (
          SELECT DISTINCT CONCAT(L.CODE,':',L.OA_FLOWID) AS OA_FLOWID  FROM BMS_SETTLE_DETAIL B
           LEFT JOIN BMS_EXCEPTION_ADJ C ON B.SETTLE_NO = C.SETTLE_NO
           LEFT JOIN BMS_OA_LOG L ON C.LOG_CODE=L.CODE
           WHERE  B.NEW_SETTLE_NO IN (SELECT A.SETTLE_NO FROM BMS_SETTLE_DETAIL  A WHERE  A.INVOICE_NO  =#{INVOICE_NO} )
           AND L.CODE IS NOT NULL AND L.OA_FLOWID IS NOT NULL
          UNION ALL
          SELECT DISTINCT CONCAT(L.CODE,':',L.OA_FLOWID) AS OA_FLOWID  FROM BMS_SETTLE_DETAIL B
           LEFT JOIN BMS_BILL_ADJUST C ON B.SETTLE_NO = C.SETTLE_NO
           LEFT JOIN BMS_OA_LOG L ON C.LOG_CODE=L.CODE
           WHERE  B.NEW_SETTLE_NO IN (SELECT A.SETTLE_NO FROM BMS_SETTLE_DETAIL  A WHERE  A.INVOICE_NO  =#{INVOICE_NO} )
           AND L.CODE IS NOT NULL AND L.OA_FLOWID IS NOT NULL
          UNION ALL
          SELECT DISTINCT CONCAT(L.CODE,':',L.OA_FLOWID) AS OA_FLOWID    FROM BMS_SETTLE_DETAIL B
           LEFT JOIN BMS_EXEMPT C ON B.SETTLE_NO = C.SETTLE_NO
           LEFT JOIN BMS_OA_LOG L ON C.LOG_CODE=L.CODE
           WHERE  B.NEW_SETTLE_NO IN (SELECT A.SETTLE_NO FROM BMS_SETTLE_DETAIL  A WHERE  A.INVOICE_NO  =#{INVOICE_NO} )
           AND L.CODE IS NOT NULL AND L.OA_FLOWID IS NOT NULL ) H
        ) F
    </select>

    <update id="updateOpFlag" >
        UPDATE BMS_OP_ORDER_HEADER SET OP_FLAG=#{opFlag},SYNDATE=NOW()
         WHERE INVOICE_NO=#{Invoice_no,jdbcType=VARCHAR}
    </update>


</mapper>