<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--上面2行的是约束依赖，固定照抄就好-->
<!--下面的才是要自己编写的地方-->
<!--写mapper的配置文件第一步就是要写<mapper></mapper>标签-->
<!--<mapper></mapper>标签里包含着各个CURD操作的SQL语句-->
<mapper namespace="com.infinitus.bms_oa.wms_store.mapper.W_STORE_SKUS_Mapper">
    <!--定义一个名为BaseResultMap的返回类型-->
    <resultMap id="BaseResultMap" type="com.infinitus.bms_oa.wms_store.empty.W_STORE_SKUS">

        <result column="store_no" property="no" jdbcType="VARCHAR"></result>
        <result column="store_fullName" property="fullName" jdbcType="VARCHAR"></result>
        <result column="store_shortName" property="shortName" jdbcType="VARCHAR"></result>
        <result column="store_spuNo" property="spuNo" jdbcType="VARCHAR"></result>

        <result column="store_number" property="number" jdbcType="INTEGER"></result>
        <result column="store_size" property="size" jdbcType="INTEGER"></result>
        <result column="store_totalPages" property="totalPages" jdbcType="INTEGER"></result>
        <result column="store_totalElements" property="totalElements" jdbcType="INTEGER"></result>
        <result column="syn_date" property="syn_date" jdbcType="VARCHAR"></result>
        <result column="commodityNo" property="commodityNo" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="VARCHAR"></result>
    </resultMap>
    <!--插入语句-->
    <!--id要与W_STORE_SKUS_Mapper文件中表示插入的函数名一致，parameterType表示函数的输入参数的类型-->
    <insert id="insertW_STORE_SKUS" parameterType="com.infinitus.bms_oa.wms_store.empty.W_STORE_SKUS">
      insert into W_STORE_SKUS_SYN(store_no,store_fullName,store_shortName,store_spuNo,syn_date,commodityNo,status)
      values(#{no,jdbcType=VARCHAR},#{fullName,jdbcType=VARCHAR},#{shortName,jdbcType=VARCHAR},
      #{spuNo,jdbcType=VARCHAR},#{syn_date,jdbcType=VARCHAR},#{commodityNo,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}
      )
    </insert>

    <!--删除语句-->
    <delete id="deleteW_STORE_SKUS" parameterType="java.lang.Integer">
      delete from W_STORE_SKUS_SYN
    </delete>

    <!--查找语句-->
    <!--resultMap表示函数返回的类型-->
    <select id="selectW_STORE_SKUS"  resultMap="BaseResultMap">
       select count(*) from W_STORE_SKUS_SYN WHERE STORE_NO=#{no,jdbcType=VARCHAR}
    </select>

    <!--修改语句-->
    <update id="updateW_STORE_SKUS" parameterType="com.infinitus.bms_oa.wms_store.empty.W_STORE_SKUS">
    </update>

    <!--批量插入-->
    <insert id="insertSkusList" parameterType="java.util.List">
        INSERT ALL
        <foreach item="list" index="index" collection="list">
            INTO W_STORE_SKUS_SYN ( store_no ,  store_fullName , store_shortName , store_spuNo , syn_date , commodityNo , status )
             VALUES
            (
            <if test="list.no!=null">
                #{list.no , jdbcType=VARCHAR} ,
            </if>
            <if test="list.no==null">
                '' ,
            </if>

            <if test="list.fullName!=null ">
                #{list.fullName , jdbcType=VARCHAR} ,
            </if>
            <if test="list.fullName==null">
                '' ,
            </if>

            <if test="list.shortName!=null ">
                #{list.shortName , jdbcType=VARCHAR} ,
            </if>
            <if test="list.shortName==null">
                '' ,
            </if>

            <if test="list.spuNo!=null ">
                #{list.spuNo , jdbcType=VARCHAR} ,
            </if>
            <if test="list.spuNo==null">
                'C' ,
            </if>
            TO_CHAR(sysdate , 'yyyy-MM-dd HH24:mm:ss') ,
            <if test="list.commodityNo!=null ">
                #{list.commodityNo , jdbcType=VARCHAR} ,
            </if>
            <if test="list.commodityNo==null">
                '' ,
            </if>

            <if test="list.status!=null ">
                #{list.status , jdbcType=VARCHAR}
            </if>
            <if test="list.status==null">
                ''
            </if>
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

    <!-- 批量插入历史表-->
    <insert id="insertSkusHistoryList" parameterType="java.util.List">
        INSERT ALL
        <foreach item="list" index="index" collection="list">
            INTO W_STORE_SKUS_HISTORY ( store_no ,  store_fullName , store_shortName , store_spuNo , syn_date ,
            commodityNo , status )
            VALUES
            (
            <if test="list.no!=null">
                #{list.no , jdbcType=VARCHAR} ,
            </if>
            <if test="list.no==null">
                '' ,
            </if>

            <if test="list.fullName!=null ">
                #{list.fullName , jdbcType=VARCHAR} ,
            </if>
            <if test="list.fullName==null">
                '' ,
            </if>

            <if test="list.shortName!=null ">
                #{list.shortName , jdbcType=VARCHAR} ,
            </if>
            <if test="list.shortName==null">
                '' ,
            </if>

            <if test="list.spuNo!=null ">
                #{list.spuNo , jdbcType=VARCHAR} ,
            </if>
            <if test="list.spuNo==null">
                'C' ,
            </if>
            TO_CHAR(sysdate , 'yyyy-MM-dd HH24:mm:ss') ,
            <if test="list.commodityNo!=null ">
                #{list.commodityNo , jdbcType=VARCHAR} ,
            </if>
            <if test="list.commodityNo==null">
                '' ,
            </if>

            <if test="list.status!=null ">
                #{list.status , jdbcType=VARCHAR}
            </if>
            <if test="list.status==null">
                ''
            </if>
            )
        </foreach>
        SELECT 1 FROM DUAL
    </insert>

</mapper>