<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--上面2行的是约束依赖，固定照抄就好-->
<!--下面的才是要自己编写的地方-->
<!--写mapper的配置文件第一步就是要写<mapper></mapper>标签-->
<!--<mapper></mapper>标签里包含着各个CURD操作的SQL语句-->
<mapper namespace="com.infinitus.bms_oa.oms.mapper.WordTrackMapper">
    <!--定义一个名为BaseResultMap的返回类型-->
    <resultMap id="BaseResultMap" type="com.infinitus.bms_oa.oms.pojo.WordTrack">
        <result column="creationTime" property="creationTime" jdbcType="VARCHAR"></result>
        <result column="doNo" property="doNo" jdbcType="VARCHAR"></result>
        <result column="express_code" property="express_code" jdbcType="VARCHAR"></result>
        <result column="opeName" property="opeName" jdbcType="VARCHAR"></result>
        <result column="opeRemark" property="opeRemark" jdbcType="VARCHAR"></result>
        <result column="opeTime" property="opeTime" jdbcType="VARCHAR"></result>
        <result column="opeTitle" property="opeTitle" jdbcType="VARCHAR"></result>
        <result column="status" property="status" jdbcType="INTEGER"></result>
        <result column="waybillCode" property="waybillCode" jdbcType="VARCHAR"></result>

    </resultMap>

    <insert id="insertWordTrackS"  parameterType="java.util.List">
        INSERT INTO LMT.LMT_OMS_WORD_TRACK(CREATIONTIME,DONO,EXPRESS_CODE,OPENAME,OPEREMARK,OPETIME,OPETITLE,STATUS,WAYBILLCODE)
        VALUES
        <foreach collection ="list" item="wordTracks" separator =",">
            (#{wordTracks.creationTime,jdbcType=VARCHAR},#{wordTracks.doNo,jdbcType=VARCHAR},#{wordTracks.express_code,jdbcType=VARCHAR}
            ,#{wordTracks.opeName,jdbcType=VARCHAR},#{wordTracks.opeRemark,jdbcType=VARCHAR},#{wordTracks.opeTime,jdbcType=VARCHAR}
            ,#{wordTracks.opeTitle,jdbcType=VARCHAR},#{wordTracks.status,jdbcType=INTEGER},#{wordTracks.waybillCode,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <insert id="insertWordTrack"  parameterType="com.infinitus.bms_oa.oms.pojo.WordTrack">
        INSERT INTO LMT.LMT_OMS_WORD_TRACK(CREATIONTIME,DONO,EXPRESS_CODE,OPENAME,OPEREMARK,OPETIME,OPETITLE,STATUS,WAYBILLCODE)
        VALUES
        (
            #{creationTime,jdbcType=VARCHAR},#{doNo,jdbcType=VARCHAR},#{express_code,jdbcType=VARCHAR}
            ,#{opeName,jdbcType=VARCHAR},#{opeRemark,jdbcType=VARCHAR},#{opeTime,jdbcType=VARCHAR}
            ,#{opeTitle,jdbcType=VARCHAR},#{status,jdbcType=INTEGER},#{waybillCode,jdbcType=VARCHAR}
       )
    </insert>

    <select id="selectWordTrack" parameterType="java.lang.String" resultMap="BaseResultMap">
       SELECT * FROM LMT.LMT_OMS_WORD_TRACK WHERE DONO = #{doNo,jdbcType=VARCHAR}
       AND EXPRESS_CODE = #{express_code,jdbcType=VARCHAR}
       AND OPEREMARK = #{opeRemark,jdbcType=VARCHAR}
       AND OPETIME = #{opeTime,jdbcType=VARCHAR}  AND OPETITLE = #{opeTitle,jdbcType=VARCHAR}
       AND DONO IS NOT NULL
    </select>


</mapper>